@media (max-width: 599px) {
    .ck-editor__editable_inline {
        min-height: 55vh !important;
        max-height: 55vh !important;
    }
}
@media (min-width: 600px) {
    .ck-editor__editable_inline {
        min-height: 55vh !important;
        max-height: 55vh !important;
    }
}
@media (min-width: 900px) {
    .ck-editor__editable_inline {
        min-height: 70vh !important;
        /*max-height: 70vh !important;*/
    }
}
