@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 2000;
    font-display: swap;
    src: local('D2Coding Bold'),
    url('../../public/fonts/d2coding-bold-subset.woff2') format('woff2'),
    url('../../public/fonts/d2coding-bold-subset.woff') format('woff'),
    url('../../public/fonts/d2coding-bold-subset.ttf') format('truetype');
}

@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('D2Coding Regular'),
    url('../../public/fonts/d2coding-subset.woff2') format('woff2'),
    url('../../public/fonts/d2coding-subset.woff') format('woff'),
    url('../../public/fonts/d2coding-subset.ttf') format('truetype');
}

body {
    font-family: 'D2Coding', monospace;
}