/* Admin WriteSection Styles */
.section {
    margin: 0 auto;
    width: 95%;
    padding: 4rem 1.5rem 4rem 1rem;
}

.section:after {
    content: " ";
    display: block;
    clear: both;
}

.content {
    scroll: auto;
}
