.prevButton {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /*background-color: #ccc;*/
    padding: 3px;
    z-index: 1;
}

.nextButton {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /*background-color: #ccc;*/
    padding: 3px;
    z-index: 1;
}

@media ( max-width: 600px) {
    .prevButton {
        visibility: hidden;
    }

    .nextButton {
        visibility: hidden;
    }
}